.section.about-me {
	.col-container {
		display: flex;
		gap: 20px;
		width: 100%;
	}

	.col-container.two {
		.col-left {
			width: calc(50% - 10px);
			min-width: fit-content;
		}
		.col-right {
			width: calc(50% - 10px);
			min-width: 187px;
		}
		@media (max-width: 434px) {
			flex-direction: column;
			.col-left,
			.col-right {
				width: 100%;
			}
		}
	}
}
