.container {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 12px;
	gap: 12px;
	justify-content: space-between;
	background: linear-gradient(
		135deg,
		var(--prim-bg-light-1) 0%,
		var(--prim-bg) 30%,
		var(--prim-bg-dark-1) 70%,
		var(--bg-color) 100%
	);
	background-size: 400% 400%;
	animation: backgroundGradientIdle 10s ease-in-out infinite;

	font-weight: 700;

	.greeting {
		margin-left: auto;
		text-align: end;
	}
	.sign_out_container {
		width: 100px;
	}
}

@keyframes backgroundGradientIdle {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 60% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
