@media (max-width: 480px) {
	.navbar-desktop {
		display: none !important;
	}
}

.navbar-desktop {
	width: 100vw;
	transition: height 0.4s ease;
	background: rgba(9, 9, 121, 1);
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 40px;
	box-sizing: border-box;
	background: linear-gradient(
		135deg,
		rgba(148, 237, 255, 1) 0%,
		rgb(77, 77, 206) 30%,
		rgba(9, 9, 121, 1) 70%,
		rgba(2, 0, 36, 1) 100%
	);
	background-size: 400% 400%;
	animation: backgroundGradientLoad 4s ease-in-out 0s 1,
		backgroundGradientIdle 10s ease-in-out 4s infinite;

	.splash-info {
		text-align: center;
		overflow: hidden;
		transition: height 0.4s ease;
		max-width: 600px;
		h1 span {
			display: inline-block;
			min-width: 15px;
			opacity: 0%;
			animation: 1s ease-out 0s 1 fadeDown forwards;
		}
		.spacer:nth-of-type(1) {
			height: 16px;
		}
		.spacer:nth-of-type(2) {
			height: 48px;
		}
		p {
			text-align: left;
			white-space: pre-wrap;
			margin-bottom: 100px;
			margin: 0px;
			span {
				opacity: 0%;
				display: inline-block;
				min-width: 4.39px;
				animation: 1s ease-out 0s 1 fadeDown forwards;
			}
		}
	}

	.anchor-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 700px;
		.anchor-link {
			opacity: 0%;
			animation: 1s ease-out 0s 1 fadeDown forwards;
			transition: scale 0.2s ease, text-shadow 0.2s ease;
			cursor: pointer;
			user-select: none;
			&:hover {
				scale: 120%;
				text-shadow: 0 0 20px white, 0 0 30px white;
			}
			&:active {
				scale: 110%;
				text-shadow: 0 0 15px white, 0 0 25px white;
			}
		}
	}
}
@keyframes backgroundGradientLoad {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes backgroundGradientIdle {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 60% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes fadeUp {
	0% {
		transform: translateY(20px);
		filter: blur(3px);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		filter: blur(0px);
		opacity: 100%;
	}
}
@keyframes fadeDown {
	0% {
		transform: translateY(-20px);
		filter: blur(3px);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		filter: blur(0px);
		opacity: 100%;
	}
}
@keyframes shimmer {
	// create a gradient shimmer effect that'll loop
}
