.experience {
	.fold-switcher-component {
		display: flex;
		flex-direction: column;
		.title-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			flex-wrap: wrap;
			gap: 15px;
			row-gap: 0px;

			.job-title {
				width: 212px;
				font-weight: 700;
				h2 {
					margin: 0;
				}
			}

			.company {
				font-weight: 300;
				font-size: 20px;
				width: 325px;
			}

			.timeframe {
				display: flex;
				width: 180px;
				justify-content: space-between;
			}
		}
		@media (max-width: 838px) {
			.fold-component {
				margin-bottom: 20px;
			}

			.title-wrapper {
				flex-direction: column;
				align-items: flex-start;
				.company {
					width: fit-content;
					font-style: italic;
					font-size: 18px;
				}
				.job-title {
					width: fit-content;
				}
				.timeframe {
					width: fit-content;
					font-size: 12px;
					width: 130px;
				}
			}
		}
	}
	.content {
		margin: 20px 0 100px 0;
		box-sizing: border-box;
	}
}
