.experience {
	.fold-switcher-component {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.title-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			flex-wrap: wrap;
			gap: 15px;
			row-gap: 0px;

			.job-title {
				width: 208px;
				font-weight: 700;
				h2 {
					margin: 0;
				}
			}

			.company {
				font-weight: 300;
				font-size: 20px;
				width: 325px;
			}

			.timeframe {
				display: flex;
				width: 180px;
				justify-content: space-between;
			}
			@media (max-width: 834px) {
				flex-direction: column;
				align-items: flex-start;
				.company {
					font-style: italic;
					font-size: 18px;
				}
				.timeframe {
					font-size: 12px;
					width: 130px;
				}
			}
		}
	}
}
