.code-component {
	font-family: 'Source Code Pro', monospace;
	background-color: #414141;
	display: inline-block;
	padding: 0 5px 0 3px;
	border-radius: 3px;
	font-size: 16px;
	text-wrap: nowrap;

	.prop {
		color: #acfaf7;
	}
	.val {
		color: #9ae020;
	}
	.comp {
		color: #3ac990;
	}
	.elem {
		color: #4a9cb3;
	}
	.str {
		color: #ce834a;
	}
}
