.main {
	width: 100%;

	input {
		font-family: inherit;
		color: inherit;
		height: 36px;
		box-sizing: border-box;
		width: 100%;
		padding: 8px 10px;
		border-radius: 3px;
		outline: 0px solid transparent;
		box-shadow: inset 0 0 0 1px var(--input-border-color);
		border: 0;
		background-color: var(--bg-color-lighter-1);
		transition: box-shadow 0.15s ease, outline 0.1s ease;

		&:focus:not(:disabled),
		&:active:not(:disabled) {
			box-shadow: inset 0 0 0 2px var(--input-border-color);
			outline: 2px solid var(--font-color);
		}
	}
	&.minimal_style input {
		background-color: transparent;
		box-shadow: none !important;
	}
	&.disabled {
		color: var(--font-color-disabled);
		input {
			cursor: not-allowed;
			&:focus,
			&:active {
				box-shadow: inset 0 0 0 1px var(--input-border-color);
			}
		}
	}
}
