.main {
	box-shadow: inset 0 0 0 1px rgba(229, 229, 229, 0.2);
	background-color: var(--bg-color-lighter-1);
	color: inherit;
	height: 36px;
	width: 100%;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	&.minimal_style {
		input {
			background-color: transparent;
			box-shadow: none !important;
		}
	}

	&.error {
		animation: shake 0.2s ease infinite;
		input {
			transition: none;
			box-shadow: inset 0 0 0 2px var(--error-color) !important;
		}
	}

	&.reveal_input {
		.formatted,
		.left_parenthesis,
		.right_parenthesis {
			display: none;
		}
	}
	&:not(.reveal_input) {
		input {
			opacity: 0;
		}
	}

	input,
	.formatted {
		text-align: right;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 8px 16px 8px 28px;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
	}
	input {
		appearance: textfield;
		-moz-appearance: textfield;

		border: 0;
		transition: box-shadow 0.15s ease;
		background-color: transparent;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			display: none;
			margin: 0;
		}

		&:focus,
		&:active {
			box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 0.2);
		}
	}
	outline: 0px solid transparent;
	transition: outline 0.1s ease;

	&:focus-within:not(.disabled),
	&:active:not(.disabled) {
		outline: 2px solid var(--font-color);
	}
	.formatted {
		margin: 0;
		display: flex;
		div {
			overflow-x: scroll;
			scrollbar-width: none;
		}
	}

	.decals {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 8px;
		user-select: none;
		pointer-events: none;

		.dollar_symbol {
			font-size: 14px;
		}
		.left_parenthesis {
			margin-left: 2px;
			font-size: 16px;
		}
		.right_parenthesis {
			margin-left: auto;
			font-size: 16px;
		}
	}
	&.minimal_style {
		background-color: transparent;
		box-shadow: none !important;
	}
	&.disabled {
		color: var(--font-color-disabled);
		cursor: not-allowed;
		input {
			&:focus,
			&:active {
				box-shadow: inset 0 0 0 1px rgba(229, 229, 229, 0.2);
			}
		}
	}

	@keyframes shake {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(-2px);
		}
		50% {
			transform: translateX(2px);
		}
		75% {
			transform: translateX(-2px);
		}
		100% {
			transform: translateX(0);
		}
	}
}
