.main {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 70vw;
	width: 400px;
	h3 {
		margin: 0;
	}
	label {
		font-size: 14px;
		padding: 0 0 2px 0;
	}
	.title_container {
		.show_title {
			display: flex;
			gap: 5px;
			padding-top: 5px;
			align-items: center;
			label {
				padding: 0;
			}
			input {
				padding-bottom: 0;
			}
		}
	}
	.exclude_container {
		.item_container {
			height: 100px;
			margin-top: 2px;
			overflow-y: auto;
			background-color: var(--bg-color-lighter-3);
			padding: 5px;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			.item {
				display: flex;
				gap: 5px;
				label {
					padding: 0;
				}
			}
		}
	}
	.show_data_container {
		display: flex;
		gap: 15px;
		& > * {
			flex: 1;
		}
	}
	.explanation_container {
		padding: 15px;
		background-color: var(--bg-color-lighter-1);
		border-radius: 15px;
		.heading {
			font-weight: 500;
			font-size: 18px;
			margin-bottom: 5px;
		}
	}
	.delete_container {
		button {
			color: var(--font-color-error);
		}
	}
	.button_container {
		display: flex;
		gap: 15px;
	}
}
.delete_tile_popup {
	width: 300px;
}
