.jbutton {
	cursor: pointer;
	transition: background-color 0.15s ease, outline 0.1s ease, transform 0.05s ease;
	color: var(--font-color);
	font-family: inherit;
	height: 36px;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 12px;
	border-radius: 3px;
	border: 0;
	font-weight: 600;
	outline: 0px solid transparent;
	box-shadow: inset 0 0 0 1px var(--input-border-color);
	display: flex;
	align-items: center;
	justify-content: center;

	&:active {
		transform: translateY(2px);
	}

	&:focus:not(:disabled),
	&:active:not(:disabled) {
		outline: 2px solid var(--font-color);
	}

	&:disabled {
		background-color: var(--bg-color-lighter-1);
		color: var(--font-color-disabled);
		cursor: not-allowed;

		&:active {
			transform: translateY(0px);
		}
	}
	&.invisible {
		background-color: transparent;
		box-shadow: inset 0 0 0 0px var(--input-border-color);
	}

	&.primary:not(:disabled) {
		background-color: var(--prim-bg);

		&:hover {
			background-color: var(--prim-bg-light-1);
		}
		&.loading {
			cursor: progress;
			transform: translateY(2px);
		}
	}
	&.secondary:not(:disabled) {
		background-color: var(--bg-color-lighter-1);
		&:hover {
			background-color: var(--bg-color-lighter-2);
		}
		&.loading {
			cursor: progress;
			transform: translateY(2px);
		}
	}
	svg {
		height: 100%;
	}
}
