.navbar {
	height: 80px;
	width: 100vw;
	transition: height 0.2s ease;
	background-color: red;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 40px;
	box-sizing: border-box;

	.splash-info {
		text-align: center;
		overflow: hidden;
		transition: height 0.2s ease;
		width: 60%;
		h1 span {
			display: inline-block;
			min-width: 15px;
			opacity: 0%;
			animation: 1s ease-out 0s 1 fadeDown forwards;
		}
		p {
			text-align: left;
			white-space: pre-wrap;
			height: 0px;
			transition: height 2s ease;
			&.height-animation-triggered {
				height: 340px;
			}
			span {
				opacity: 0%;
				display: inline-block;
				min-width: 4.39px;
				animation: 1s ease-out 0s 1 fadeDown forwards;
			}
		}
	}
	&:not(.fullscreen) {
		.splash-info {
			height: 0px;
		}
	}

	&.fullscreen {
		height: 100vh;
	}

	.anchor-container {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		.anchor-link {
			opacity: 0%;
			animation: 1s ease-out 0s 1 fadeDown forwards;
		}
	}
}

@keyframes fadeUp {
	0% {
		transform: translateY(20px);
		filter: blur(3px);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		filter: blur(0px);
		opacity: 100%;
	}
}
@keyframes fadeDown {
	0% {
		transform: translateY(-20px);
		filter: blur(3px);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		filter: blur(0px);
		opacity: 100%;
	}
}
@keyframes shimmer {
	// create a gradient shimmer effect that'll loop
}
