.skills {
	.content {
		.icon-row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 20px;
			margin-bottom: 20px;
			.icon-container {
				cursor: pointer;
				transition: scale 0.2s ease, text-shadow 0.2s ease;
				text-align: center;
				width: 100px;
				&:hover {
					scale: 120%;
				}
				&.active {
					text-shadow: 0 0 20px white, 0 0 30px white;
				}

				svg {
					height: 50px;
					width: 50px;
				}
			}
		}

		.iframe-wrapper {
			display: grid;
			place-items: center;
			aspect-ratio: 16/9;
			& > iframe {
				width: 100%;
				height: 100%;
				border: 0;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.34);
			}
		}

		.two-col-container {
			display: flex;
			gap: 10px;
			margin-top: 20px;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			h3 {
				margin-top: 0px;
			}
			.col {
				width: calc(50% - 5px);
				min-width: 270px;
				max-width: 400px;
				flex-grow: 1;
			}
		}
	}
}
