.popup_background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(2px);
	z-index: 999998;

	.popup_container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: auto;
		border-radius: 20px;
		z-index: 999999;
		color: var(--font-color);
		padding: 40px 20px 20px 20px;

		.popup_exit {
			right: 13px;
			top: 9px;
			position: absolute;
			cursor: pointer;
			user-select: none;
		}
	}
	&.normal {
		background-color: var(--popup-backdrop-color);
		.popup_container {
			background-color: var(--popup-bg-color);
		}
	}
	&.error {
		background-color: var(--popup-error-backdrop-color);
		.popup_container {
			background-color: var(--popup-error-bg-color);
		}
	}
}
