.main {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	--BOTTOM_CONTAINER_HEIGHT: 56px;

	.loading_anim_container {
		position: absolute;
		z-index: 1000;
		height: calc(100% - var(--BOTTOM_CONTAINER_HEIGHT) - var(--NAVBAR-HEIGHT));
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.2s ease, filter 0.2s ease;
		svg {
			height: 100px;
		}
	}
	&.loading {
		.loading_anim_container {
			opacity: 100%;
			backdrop-filter: blur(5px);
		}
	}
	&:not(.loading) {
		.loading_anim_container {
			opacity: 0%;
			user-select: none;
			pointer-events: none;
			backdrop-filter: blur(0px);
		}
	}

	.tile_wrapper {
		flex-grow: 1;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: scrollbar-color 0.3s ease;
		scrollbar-color: transparent transparent;
		&:hover {
			scrollbar-color: var(--font-color) var(--bg-color);
		}

		.tile_container {
			min-width: 100%;
			min-height: 100%;
			position: relative;
			background-color: var(--bg-color); /* Light gray background */
			background-image: linear-gradient(
					to right,
					var(--bg-color-lighter-1) 1px,
					transparent 1px
				),
				linear-gradient(to bottom, var(--bg-color-lighter-1) 1px, transparent 1px);
			background-size: var(--GRID_SPACING) var(--GRID_SPACING); /* Size of the grid cells */

			--scrollbar-width: 17px; // this is a "default" value, which gets overridden once the component renders with the calculated scrollbar width (since this varies between browsers).
			.tile {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				overflow: auto;
			}
		}
	}
	.bottom_container {
		height: var(--BOTTOM_CONTAINER_HEIGHT);
		max-width: 100vw;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px;
		box-sizing: border-box;
		justify-content: flex-end;
		z-index: 10;
		button,
		.options_flyout {
			width: 200px;
		}
		.submit_feedback {
			margin-right: auto;
		}
	}
	.discard {
		margin-left: auto;
	}
}
