.section {
	a.anchor {
		display: block;
		position: relative;
		top: -100px;
		visibility: hidden;
	}
}

.about-me {
}
.skills {
	.content {
		height: 300px;
		background-color: rgba(0, 255, 255, 0.2);
		padding: 20px;
	}
}
.projects {
}
.experience {
}
.contact-info {
}
