.main {
	--spacing: 20px;
	// height: 432px;
	max-width: calc(100vw - 50px);
	max-height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	.split_col {
		display: flex;
		gap: var(--spacing);
		& > * {
			width: 100%;
		}
	}
	.multiple_toggle_container {
		display: flex;
		align-items: center;
		gap: var(--spacing);
		margin: calc(var(--spacing) / 2) 0;
	}
	.items_container {
		.item {
			display: flex;
			gap: var(--spacing);
			& > * {
				width: 100%;
			}
		}

		&.multi_item {
			.grid {
				--padding-val: 5px;
				--header-border-radius: 3px;
				--row-border-radius: 5px;
				--row-height: 36px;

				padding-bottom: 10px;
				scrollbar-color: var(--font-color) var(--bg-color-lighter-2);
				max-height: 180px;
				overflow-y: auto;
				.header_container {
					.text {
						background-color: var(--bg-color-lighter-3);
						padding: calc(var(--padding-val) * 1.5) var(--padding-val);
					}
					padding: var(--padding-val) calc(var(--padding-val) / 2);
					width: 100%;
					background-color: var(--bg-color-lighter-2);
					transform: translateY(-2px);
					box-sizing: border-box;
					text-align: center;
					min-height: 42px;
					&.first {
						padding-left: calc(var(--padding-val) + 1px);
						.text {
							border-top-left-radius: var(--header-border-radius);
							border-bottom-left-radius: var(--header-border-radius);
						}
					}
					&.last {
						padding-right: calc(var(--padding-val) + 1px);
						.text {
							border-top-right-radius: var(--header-border-radius);
							border-bottom-right-radius: var(--header-border-radius);
						}
					}
				}
				.item_row {
					display: contents;

					.control_container {
						min-height: var(--row-height);
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 5px;
						padding: calc(var(--padding-val) / 2) 0;
						user-select: none;
						width: 100%;
						background-color: transparent;

						.reorder_grabber button {
							cursor: grab;
							&:hover:not(:disabled) {
								scale: 120%;
							}
							&:active:not(:disabled) {
								scale: 100%;
								cursor: grabbing;
							}
						}
						.delete_container button {
							cursor: pointer;
							&:hover:not(:disabled) {
								color: var(--font-color-error);
								scale: 120%;
							}
							&:active:not(:disabled) {
								scale: 100%;
							}
						}
						.reorder_grabber,
						.delete_container {
							display: flex;
							align-items: center;
							justify-content: center;
							button {
								height: 20px;
								background-color: transparent;
								border: none;
								color: var(--font-color);
								transition: scale 0.1s ease, color 0.1s ease;
								padding: 0;

								svg {
									height: 20px;
									width: 20px;
								}
								&:disabled {
									color: var(--font-color-disabled);
									cursor: not-allowed;
								}
							}
							&.changed button {
								color: var(--font-color-changed);
							}
						}
						&.popped_out {
							padding-top: var(--padding-val);
							padding-bottom: var(--padding-val);
							display: flex;
							position: absolute;
							z-index: 999;
							filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
							&.first_row {
								padding-top: 5px;
							}
						}
						&.first_row {
							padding-top: 0px;
						}
					}

					.cell {
						padding: calc(var(--padding-val) / 2);
						background-color: var(--popup-bg-color);
						&:nth-child(2) {
							padding-left: var(--padding-val);
							border-top-left-radius: var(--row-border-radius);
							border-bottom-left-radius: var(--row-border-radius);
						}
						&:last-child {
							padding-right: var(--padding-val);
							border-top-right-radius: var(--row-border-radius);
							border-bottom-right-radius: var(--row-border-radius);
						}
						&.popped_out {
							padding-top: var(--padding-val) !important;
							padding-bottom: var(--padding-val);
							display: flex;
							position: absolute;
							z-index: 999;
							box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
						}
						&.first_row {
							padding-top: 0px;
						}
					}
				}

				--margin-gap-size: calc(var(--row-height) + var(--padding-val));
				.transitions {
					transition: margin 0.2s ease;
				}
				.margin_top {
					margin-top: calc(var(--margin-gap-size) / 2);
				}
				.margin_bottom {
					margin-bottom: calc(var(--margin-gap-size) / 2);
				}
				.margin_top_double {
					margin-top: var(--margin-gap-size);
				}
				.margin_bottom_double {
					margin-bottom: var(--margin-gap-size);
				}
				.add_new_row {
					grid-column: 2 / 3;
					width: 100%;
					box-sizing: border-box;
					display: flex;
					justify-content: flex-start;
					padding: calc(var(--padding-val) / 2) calc(var(--padding-val) / 2)
						var(--padding-val) var(--padding-val);
					button {
						width: 200px;
					}
				}
			}
		}
	}
	.button_container {
		display: flex;
		gap: var(--spacing);
		margin-top: auto;
		& > * {
			margin-top: 20px;
		}
	}
	.error_shake {
		animation: shake 0.2s ease infinite;
	}
	.error {
		box-shadow: inset 0 0 0 2px var(--error-color) !important;
	}
	@keyframes shake {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(-2px);
		}
		50% {
			transform: translateX(2px);
		}
		75% {
			transform: translateX(-2px);
		}
		100% {
			transform: translateX(0);
		}
	}
}
